IoT-Automatic-Door-System/scripts/nodered_flow.json
[
  {
    "id": "door-dashboard-tab",
    "type": "tab",
    "label": "Door Dashboard",
    "disabled": false,
    "info": "IoT Automatic Door System — Real-time monitoring dashboard"
  },
  {
    "id": "mqtt-in-status",
    "type": "mqtt in",
    "z": "door-dashboard-tab",
    "name": "door/status",
    "topic": "door/status",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "wires": [["json-parse-status"]]
  },
  {
    "id": "json-parse-status",
    "type": "json",
    "z": "door-dashboard-tab",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "wires": [["door-state-ui", "dist-gauge-ui"]]
  },
  {
    "id": "door-state-ui",
    "type": "ui_text",
    "z": "door-dashboard-tab",
    "group": "status-group",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Door State",
    "label": "Door State",
    "format": "{{msg.payload.state}}",
    "layout": "row-spread",
    "wires": []
  },
  {
    "id": "dist-gauge-ui",
    "type": "ui_gauge",
    "z": "door-dashboard-tab",
    "name": "Distance",
    "group": "status-group",
    "order": 2,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "Proximity (cm)",
    "label": "cm",
    "format": "{{value}}",
    "min": 0,
    "max": 200,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 30,
    "seg2": 100,
    "wires": []
  },
  {
    "id": "mqtt-in-event",
    "type": "mqtt in",
    "z": "door-dashboard-tab",
    "name": "door/event",
    "topic": "door/event",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "wires": [["event-format"]]
  },
  {
    "id": "event-format",
    "type": "function",
    "z": "door-dashboard-tab",
    "name": "Format event row",
    "func": "var p = msg.payload;\nvar ts = new Date().toLocaleTimeString();\nmsg.payload = ts + '  |  ' + p.event + '  |  UID: ' + (p.uid||'—') + '  |  ' + p.reason;\nreturn msg;",
    "outputs": 1,
    "wires": [["event-table-ui"]]
  },
  {
    "id": "event-table-ui",
    "type": "ui_text",
    "z": "door-dashboard-tab",
    "group": "events-group",
    "order": 1,
    "width": "12",
    "height": "1",
    "name": "Last Event",
    "label": "Last Event",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "wires": []
  },
  {
    "id": "remote-open-btn",
    "type": "ui_button",
    "z": "door-dashboard-tab",
    "name": "Open Door",
    "group": "control-group",
    "order": 1,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Open Door",
    "tooltip": "Send OPEN command via MQTT",
    "color": "",
    "bgcolor": "#2ecc71",
    "icon": "",
    "payload": "OPEN",
    "payloadType": "str",
    "topic": "door/command",
    "wires": [["mqtt-out-command"]]
  },
  {
    "id": "remote-close-btn",
    "type": "ui_button",
    "z": "door-dashboard-tab",
    "name": "Close Door",
    "group": "control-group",
    "order": 2,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Close Door",
    "tooltip": "Send CLOSE command via MQTT",
    "color": "",
    "bgcolor": "#e74c3c",
    "icon": "",
    "payload": "CLOSE",
    "payloadType": "str",
    "topic": "door/command",
    "wires": [["mqtt-out-command"]]
  },
  {
    "id": "mqtt-out-command",
    "type": "mqtt out",
    "z": "door-dashboard-tab",
    "name": "door/command",
    "topic": "door/command",
    "qos": "1",
    "retain": false,
    "broker": "mqtt-broker-config",
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-door-dashboard",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "status-group",
    "type": "ui_group",
    "name": "Live Status",
    "tab": "door-dashboard-tab",
    "order": 1,
    "disp": true,
    "width": "12"
  },
  {
    "id": "events-group",
    "type": "ui_group",
    "name": "Access Events",
    "tab": "door-dashboard-tab",
    "order": 2,
    "disp": true,
    "width": "12"
  },
  {
    "id": "control-group",
    "type": "ui_group",
    "name": "Remote Control",
    "tab": "door-dashboard-tab",
    "order": 3,
    "disp": true,
    "width": "12"
  }
]
